[Desktop Entry]
Type=Application
Name=ngPostEx
Exec=ngPostEx %F
Icon=ngPostEx
Comment=Usenet binary poster
Terminal=true
Categories=Network;
X-AppImage-Version=
